.cartItem {
  display: flex;
  align-items: center;
  width: 100%;
}
.data {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  flex: 0;
  justify-content: flex-end;
}
.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.costDiv {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.costSpan {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
